.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;
}

.selectFilter {
    width: 100%;
    background-color: var(--color4);
    height: 28px;
    border-radius: 5px;
}

.selectFilter:focus {
    background-color: var(--color4);
    outline-color: var(--color3); /* rgb(0, 255, 255);*/
    box-shadow: -3px 0px 7px var(--color3);
    transition: .1s;
    transition-property: box-shadow;
}