@import '../../colors.module.css';

.contALL {
    border: 2px solid yellow;
    position: relative;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.contenedor {
    /* margin-top: 0.5rem; */
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    height: 10rem;
    /* border: 2px solid yellow; */
    /* background-image: ; */
}

.navImg {
    position: absolute; /* Establece la posición absoluta para que la imagen se superponga a otros elementos */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    object-fit: cover; /* Recorta la imagen para que cubra todo el contenedor */
    z-index: 1; /* Coloca la imagen detrás de otros elementos */
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.logo{
    /* background-color: yellow; */
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 10;

}
.imgTitle {
    filter: drop-shadow(15px 0px 0px black);
}

.contiene{
    /* background-color: #cacdce; */
    /* border: 3px solid blueviolet;  */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* grid-template-rows: 2.5fr 0.5fr; */
    z-index: 10;

}
.contButtons{
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 0.4rem; */
    /* margin-top: -4rem; */
    height: 30%;
    /* border: 2px solid red; */
}



.contTitulo{
    /* margin-left: -20rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* margin-top: -4rem; */
    height: 70%;
    /* border: 2px solid black; */
}
.contTitulo img {
    height: 9rem;
    width: 40rem;
    margin-top: -2rem;
}
.titulo{
    
    /* text-shadow: 8px 6px 6px var(--color1); */
   
    /* color: var(--color3); */
   
}
.image{
    /* border: 2px solid black; */
    height: 10rem;
    width: 13rem;
   
}


/* ------------------------------------------------ */
.button {
    cursor: pointer;
    position: relative;
    padding: 8px 24px;
    font-size: 16px;
    
    color: #2f4581;
    border: 2px solid #EEEEEE;
    margin-top: 0rem;
    
    border-radius: 34px;
    background-color: rgb(129, 211, 6);
    /* background-color: transparent; */
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    /* background-color: rgb(193, 163, 98); */
    background-color: #EEEEEE;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #053B50;
    scale: 1.1;
    box-shadow: 0 0px 20px #053b50a8;
  }
  
  .button:active {
    scale: 1;
  }
  